# Dependency directories
node_modules/

# Compiled files
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# VS Code / Packaging files
*.vsix
.vscode-test/
.history/
